@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 300 800; /* يغطي الأوزان: 300, 400, 500, 600, 700, 800 */
  font-display: swap;
  src: url('./fonts/Cairo-VariableFont_slnt,wght.ttf') format('truetype-variable'),
       url('./fonts/Cairo-VariableFont_slnt,wght.ttf') format('truetype');
}